USE [master]
GO
/****** Object:  Database [DBUser]    Script Date: 12/2/2020 12:08:22 ******/
CREATE DATABASE [DBUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBUser.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBUser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBUser_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUser]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/2/2020 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[Name] [nvarchar](300) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](200) NULL
) ON [PRIMARY]

GO
USE [master]
GO
